@*
    Será estabelecido a View de listagem de dados de registros.
    Precisa ser referenciado com o Model, para manter a consistência. 
    É importante indicar para a View que os dados serão iteráveis, a partir do uso de interface
    IEnumerable.

*@

@model IEnumerable<Funcionario>

@{
    ViewData["Title"] = "Lista de Registros";
}
<partial name="_Header" model="Model"></partial>
<partial name="_NavBar" model="Model"></partial>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        @* <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> *@
    </div>
}

<a class="nav-link" asp-action="Create">Criar Registro</a>
<h2>@ViewData["Title"]"</h2>
<table class="table">
    <thead> @* Cabeçalho *@
        <tr> @* Linha Horizontal e fracionar em coluna(th) *@
            <th scope="col">Imagem</th>
            <th scope="col">Data de Contratação</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Gênero</th>
            <th scope="col">Senioridade</th>
            <th scope="col">Cargo</th>
            <th scope="col">Departamento</th>
            <th scope="col">Acessos</th>
            <th scope="col">Atualizar</th>
            <th scope="col">Excluir</th>          
          
        </tr>
    </thead>
    <tbody> @* Linhas *@
        @foreach (Funcionario registro in Model)
        {
            <tr>
                @* <th scope="row">@registro.Foto</th> *@
                <td>@registro.DataDeContratacao</td>
                <td>@registro.Nome</td>
                <td>@registro.Sobrenome</td>
                <td>@registro.Email</td>
                <td>@registro.DataDeNascimento</td>
                <td>@registro.Genero</td>
                <td>@registro.Senioridade</td>
                <td>@registro.Cargo</td>
                <td>@registro.Departamento</td>
                <td>@registro.Acesso</td>
                <td>
                    <button class="btn btn-primary" role="button">
                        <a asp-action="Update" 
                            asp-route-Identificador="@registro.Nome" >
                            Atualizar
                        </a>
                    </button>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-Identificador="@registro.Nome">
                        <button type="submit" class="btn btn-secondary" role="button">
                           Excluir
                        </button>
                    </form>
                </td>
                
            </tr>
            
            
        }
      
    </tbody>
</table>